@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0b1220;
  background: #f5f7fb;
}

a {
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
